.game-board-container{
    width: 90%;
    border: 1px solid gray;
    display: flex;
    justify-self: start;
    flex-direction: column;
    position: relative;
    z-index: 1000;
    .modal-board-end{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2000;
        .modal-board-end-content{
            width: 50%;
            height: 30%;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            box-shadow: 0 0 10px 0 gray;
            h2{
                margin-bottom: 20px;
            }
        }
    }
    .x-close{
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 20px;
        padding: 20px;
        background-color: #dbdada48;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        display: none;
        &:hover{
            font-weight: bold;
            color: white;
            background-color: rgba(252, 12, 84, 0.932);
        }
    }
    .game-board-team{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-around;
        min-height: 50px;
        align-items: center;
        background-color: white;;
        border-bottom: 1px solid gray;
        .game-board-team-item{
            font-size: 25px;
            font-weight: 600;
            text-align: center;
        }
        .game-board-team-item-title.active{
            background-color: rgba(252, 12, 84, 0.932);
            padding: 9px;
            border-radius: 3px;
            box-shadow: 0 0 2px 0 pink;
            color: white;
        }
    }
    .game-board{
            border: 1px solid gray;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex: 1;
            gap: 5px;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            padding: 5px;
            z-index: 1001;
            .game-board-item{
                width: 16%;
                // aspect-ratio: 1 / 1;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                height: 25%;
                font-size: 30px;
                font-style: inherit;
                font-family: 'Poppins', 'Montserrat', 'Roboto', sans-serif;
                font-weight: 700; /* bold */
                color: rgba(252, 12, 84, 0.932);;
                font-size: 2rem; /* tuỳ ô lớn nhỏ */
                text-align: center;
                line-height: 1;
                border-radius: 5px;
                border: 1px solid rgba(252, 12, 84, 0.932);
                &:hover{
                    background-color: rgba(252, 12, 84, 0.932);
                    transform: scale(1.1);
                    transition: transform 0.3s linear;
                    color: white;
                }
            }
            .game-board-item.disabled{
                background-color: #bebdbd;
                cursor: default;
                &:hover{
                    transform: scale(1);
                }
            }

        }
    .game-board-modal{
        width: 80%;
        height: 80%;
        box-shadow: 0 0 12px 0 gray;
        position: absolute;
        top: 0;
        display: flex;
        align-self: center;
        background-color: #fff;
        z-index: 1100;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        padding: 10px;
        
        .game-board-question{
            font-size: 40px;
            font-weight: bold;
            flex: 1;
            text-align: center;
        }
        .game-board-thumbnail{
            width: 100%;
            padding: 10px;
            &>img {
                max-width: 30%;
            }
           display: flex;
           flex-direction: column;
           justify-content: flex-start;
           align-items: center;
            flex: 2;
        }
        .game-board-answer{
            width: 100%;
            height:15%;
            font-size: 40px;
            font-weight: bold;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            bottom: 0;
            border: 1px solid gray;
            box-sizing: border-box;
            z-index: 1;
            flex-direction: column;
            padding: 10px;
            // background-color: red;
            .game-board-answer-title{
                // height: 300px;
                // flex: 1;
                // margin-top: -40px;
            }
            .game-board-answer-box{
                width: 100%;
                // height: 100px;
                height: 100%;
                background-color: #eb2387;
                position: absolute;
                z-index: 1000;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                color: white;
                z-index: 1002;
                margin-top: -10px;
                // display: none;
            }
            .game-board-answer-box.hidden{
                opacity: 0 !important;
                transform: translate(50px, 100px);
                transition: opacity .5s linear, transform 0.3s linear;
                display: none;
                z-index: 0;
            }
             .game-board-correct{
                // margin-top: 20px;
                display: flex;
                gap: 10px;
                z-index: 1000;
                button:hover{
                    box-shadow: 0 0 20px 0 #eb2387 !important;
                    // background-color: red;
                    cursor: pointer;
                }
            }
        }
       
    }
}
