.mission-container{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    .mission-list{
        width: 100%;
        display: flex;
        justify-content: center;
        aspect-ratio: 1 / 0.2;
        gap: 20px;
        .mission-item{
        max-width: 40%;
        flex: 1;
        // height: 300px;
        background: linear-gradient(to bottom, rgba(243, 17, 73, 0.1), rgba(243, 17, 74, 0.493));
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 10px;
        position: relative;
        box-shadow: 0px 0px 12px 0px rgb(71, 71, 71);
        z-index: 1;
        padding: 30px;
        .misson-item-modal{
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: rgba(185, 4, 58, 0.288);
            border-radius: 5px;
            padding: 5px;
            color: white;

        }
        .mission-title{
            font-weight: bold;
            color: white;
            font-size: 2rem;
        }
        &:hover{
            transition: transform 0.5s ease;
            transform: scale(1.1);
            cursor: pointer;
        }
       
       
    }
    }
    .mission-item.disabled{
        background-color: rgba(128, 128, 128, 0.377);
    }
    .mission-item.done{
        background-color: rgba(42, 194, 12, 0.911);
    }
}
@keyframes border-animation {
   0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%; /* Kéo dải màu trượt từ phải qua trái */
  }
}
@keyframes drag-rainbow {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
@media screen and (max-width: 768px) {
    .mission-container .mission-list {
        aspect-ratio: 2 / 1.5;
        .mission-item{
            flex: 1;
        }
    }

}