.subjects-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 20px;
  .subject-item{
    width: 30%;
    height: 250px;
    background: linear-gradient(to bottom, rgba(243, 17, 73, 0.1), rgba(243, 17, 74, 0.493));
    border-radius: 2%;
    animation: animation_border_move 5s infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // border: 1px solid #ccc;
    box-shadow: 0 4px 8px grey;
    transition: transform 0.2s;
    cursor: pointer;
    position: relative;

    color: white;
    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 40%;
    //   left: calc(101% + 10px);
    //   width: 0;
    //   height: 0;
    //   border-style: solid;
    //   border-width: 18px;
    //   border-color: transparent  transparent  transparent red;
    //   z-index: 200000;
    //   animation: animation_border_move2 5s infinite;
    // }
    &:last-child::before{
      display: none;
    }

    &:hover{
      transform: scale(1.05);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    .subject-title{
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .subject-description{
      font-size: 14px;
      color: #555;
      text-align: center;
      padding: 0 10px;
    }
  }
}
//create border animation
@keyframes animation_border_move {
  0% {
    border-color: red;
  }
  25% {
    border-color: blue;
  }
  50% {
    border-color: green;
  }
  75% {
    border-color: yellow;
  }
  100% {
    border-color: red;
  }
}
@keyframes animation_border_move2 {
  0% {
    border-color: transparent transparent transparent red;
  }
  25% {
    border-color: transparent transparent transparent blue;
  }
  50% {
    border-color:transparent transparent transparent green;
  }
  75% {
    border-color: transparent transparent transparent yellow;
  }
  100% {
    border-color: transparent transparent transparent red;
  }
}


@media screen and (max-width: 768px) {
  .subjects-container .subject-item {
    width: 35vw;
    .subject-title{
      font-size: 1rem;
      justify-content: center;
      text-align: center;
      padding: 2px;
    }
    
  }
  .mission-container .mission-list .mission-item .mission-title {
    text-align: center;
}

}